<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.github }}
  <a href="https://bit.ly/2zi9TnU" aria-label="Github" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
  <a href="https://bit.ly/2LazpOY" aria-label="Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.twitter }}
  <a href="https://bit.ly/2Lm3gnH" aria-label="Twitter" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://bit.ly/2YF5K8l" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.facebook }}
  <a href="https://bit.ly/2yyRKlW" aria-label="Facebook" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.medium}}
  <a href="https://bit.ly/3ceh6UW" aria-label="Medium" target="_blank"><i class="fab fa-medium" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.devto}}
  <a href="https://bit.ly/2WC8ilb" aria-label="Dev.to" target="_blank"><i class="fas fa-terminal" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.social.email}}
  <a href="mailto:rimolaivan93@gmail.com" aria-label="Email" target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i></a>
  {{ end }}

</section>
{{ if .Site.Params.extra.socialmarkup }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "{{ .Site.Params.author }}",
  "url": "{{ .Site.Params.baseURL }}",
  "sameAs": [
    {{ with .Site.Params.social.twitter }}"https://twitter.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.facebook }}"https://facebook.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.github }}"https://github.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.linkedin }}"https://linkedin.com/in/{{.}}",{{ end }}
    {{ with .Site.Params.social.medium}}"https://medium.com/{{.}}",{{ end }}
    {{ with .Site.Params.social.devto}}"https://dev.to/{{.}}",{{ end }}
    "{{ .Site.Params.baseURL }}"
  ]
}
</script>
{{ end }}
